UnityProject/Library
UnityProject/Temp
UnityProject/obj
UnityProject/Logs
UnityProject/MemoryCaptures

UnityProject/Tools/ConfigBuilder/gen_config_luazzself.bat
UnityProject/Tools/ConfigBuilder/gen_config_luazzself_s.bat
UnityProject/Tools/potocal/handle_proto_self.bat
UnityProject/Assets/GameAsset/Lua/Setting/DevConfig
UnityProject/Assets/GameAsset/Lua/Setting/DevConfig.meta
UnityProject/Assets/GeneratedLocalRepo/**
UnityProject/Assets/GeneratedLocalRepo.meta
UnityProject/Assets/FindReference2
UnityProject/Assets/FindReference2.meta
UnityProject/Assets/FR2_Cache.asset
UnityProject/Assets/FR2_Cache.asset.meta

# vs files
UnityProject/.vs
UnityProject/.vscode
UnityProject/*.csproj
UnityProject/*.sln
UnityProject/*.sln.*
UnityProject/.vsconfig
UnityProject/UserSettings
*/.vs
*/.vscode

# idea files
UnityProject/.idea
UnityProject/Assets/.idea
UnityProject/BuildPlayer
UnityProject/Assets/GameAsset/Lua/.vscode/settings.json
UnityProject/Assets/EmmyLuaServiceWithExtendMethod.cs.meta
UnityProject/Assets/EmmyLuaServiceWithExtendMethod.cs
UnityProject/Tools/potocal/gen_proto.bat
UnityProject/BundleAssetsUpdate
UnityProject/BundleAssetsUpdate_Old
# houdini
UnityProject/heu_session.txt
**/HoudiniEngineAssetCache*
#ab
UnityProject/Assets/StreamingAssets/first_resouce
UnityProject/Assets/StreamingAssets/first_resouce.meta
UnityProject/Assets/StreamingAssets/hotrun*
UnityProject/Tools/ConfigBuilder/configoutputfolder/
UnityProject/Tools/ConfigBuilder/gen_config_lua_self.bat

# xcode
UnityProject/project_ios/Classes/Native/*
UnityProject/project_ios/Data/*
UnityProject/project_ios/Libraries/*
UnityProject/project_ios/build/*
UnityProject/project_ios/Il2CppOutputProject/*
**/xcuserdata/**
UnityProject/project_ios/Pods/*
UnityProject/project_ios/Frameworks/*

# gradle
UnityProject/project_android/unityLibrary/*

**/.gradle/
**/.idea/

#project setting
UnityProject/ProjectSettings/Packages/com.unity.polybrush*
UnityProject/ProjectSettings/ManuallyReloadSettings.asset

# maya
*.mayaSwatches

# win dark mode plugins
/UnityProject/Assets/Plugins/UnityEditorDarkMode
/UnityProject/Assets/Plugins/UnityEditorDarkMode.meta
UnityProject/Tools/potocal/py/build
UnityProject/Tools/ConfigBuilder/.vs
UnityProject/Tools/ConfigBuilder/ConfigBuilder/obj
UnityProject/UnityProject.sln.DotSettings.user

#lua debug
UnityProject/Assets/GameAssets/Lua/Debug.lua.*
UnityProject/Assets/GameAssets/Lua/DebugConnect.lua.*

#Bundles
UnityProject/Bundles
UnityProject/Tools/ConfigBuilder/ConfigBuilder/bin/Debug
UnityProject/Tools/ConfigBuilder/ConfigBuilder/bin/Release
UnityProject/Tools/ConfigBuilder/ConfigBuilder/Properties/PublishProfiles
UnityProject/Tools/ConfigBuilder/ConfigBuilder/ConfigBuilder.csproj.user
UnityProject/Build
UnityProject/Assets/AATemp*
UnityProject/Assets/StreamingAssets/package*
UnityProject/HybridCLRData/HotUpdateDlls
UnityProject/HybridCLRData/AssembliesPostIl2CppStrip
UnityProject/HybridCLRData/StrippedAOTDllsTempProj
UnityProject/HybridCLRData/LocalIl2CppData-OSXEditor
UnityProject/Assets/StreamingAssets/Config*

#外部工具
UnityProject/Assets/ProNeoh_Tools*

#美术资产测试目录
UnityProject/Assets/_Private*
UnityProject/Assets/HeroRes*

#SDK
UnityProject/platform
UnityProject/Assets/GameAssets/Scenes/Campaign/Suburb_Scene_002/fbx/Suburb_Scene_002_map_terrain_Mesh1.obj.meta
UnityProject/Assets/GameAssets/Scenes/Campaign/Suburb_Scene_002/fbx/Suburb_Scene_002_map_terrain_Mesh1.obj.meta
UnityProject/Assets/GameAssets/Scenes/Campaign/Suburb_Scene_002/fbx/Suburb_Scene_002_map_terrain_Mesh1.obj.meta
